<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
      </div>

    </div>

  </div>
<meta name="dc.title" content="ezra pound's the music of beowulf" />
<meta name="dc.creator" content="maxwell gray" />
<meta name="dc.publisher" content="the center for the history of print and digital culture (university of wisconsin-madison)" />
<meta name="dc.date" content="2019-08-01" />
</footer>
